{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form id="buy_form" action="/buy" method="post">
        <div class="form-group">
            Enter stock symbol
            <div class="dropdown-content">
                <input autocomplete="off" autofocus class="form-control search_box" name="symbol" placeholder="Search Symbol" type="text"/>

                <a class="search_option" href="#"></a>
                <a class="search_option" href="#"></a>
                <a class="search_option" href="#"></a>
                <a class="search_option" href="#"></a>
                <a class="search_option" href="#"></a>
                <a class="search_option" href="#"></a>
                <a class="search_option" href="#"></a>
                <a class="search_option" href="#"></a>
                <a class="search_option" href="#"></a>
                <a class="search_option" href="#"></a>
            </div>
        </div>
        <div class="form-group">
            Enter number of shares
            <p><input autocomplete="off" class="form-control" name="shares" placeholder="Number of Shares" type="number"/></p>
        </div>
        <button class="btn btn-primary submit-button" type="submit">Buy</button>
    </form>
{% endblock %}
