{% extends "layout.html" %}

{% block title %}
    Delete
{% endblock %}

{% block main %}
    <form id="delete_form" action="/delete" method="post">
        <div class="page-text">
            <p>
                Please enter your password to permanently delete your account:
            </p>
        </div>
        <div class="form-group">
            <input autofocus class="form-control" name="password" placeholder="Password" type="password"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password"/>
        </div>
        <button class="btn btn-primary submit-button" type="submit">Delete</button>
    </form>
{% endblock %}
